<div class="create_contents">
  <div class="create_content">
    <div class="comments">
       <div class="comment-1">
          <h1>本日の担当看護師は"#"です</h1>
       </div>
       <div class="comment-2">
          <h1>後ほど伺いますので、</h1>
       </div>
       <div class="comment-3">
          <h1>体温を測ってお待ちください。</h1>
       </div>
       <div class="create-btn">
       　 <%= link_to "TOP", root_path, class: 'btn btn-defalt' %>
       </div>
    </div>
  </div>
</div> 

