<%= render "date_time" %>
<div class="question_contents">
  <div class="question_content"> 
   <div class="title">
     <h2>今日看護師と話したいことを教えてください</h2>
   </div>
    <div class="question">
       <div class="question_item">
        <%= link_to  new_question_path, class: "question_item" do %>
        <%= button_tag type: "submit", class: "btn btn-default btn-s-md" do %>
            <i class="fas fa-user-nurse fa-3x"></i>
            <i class="fas fa-paper-plane fa-3x"></i>
        <% end %>
        <% end %>
       </div>
    </div>
  </div>
</div>