 <div class="question_contents">
  <div class="question_content"> 
　　<div class="title">
     <h1>Q.本日、看護師に相談したいことがありますか？</h1>
   </div>
   <div class="questions">
     <div class="question_items">
       <div class="question_item">
        <%= link_to questions_path, method: :post, class: "question_item" do %>
            なし
        <% end %>
       </div>
       <div class="question_item">
        <%= link_to new_checkup_path, class: "question_item" do %>
            検査のついて
        <% end %>
       </div>
       <div class="question_item">
        <%= link_to new_symptom_path, class: "question_item" do %>
            症状について	             
        <% end %>
       </div>
       <div class="question_item">
        <%= link_to  new_medical_treatment_path, class: "question_item" do %>
            治療について
        <% end %>
       </div>
   　</div>
   </div>
  </div>
 </div>