<%= render "date_time" %>
<div class="question_contents">
  <div class="question_content"> 
   <div class="title">
     <h1></h1>
   </div>
    <div class="questions">
     <div class="question_items">
       <div class="question_item">
        <%= link_to  new_question_path, class: "question_item" do %>
                   <br>今日の相談内容を<br>投稿する<br>        <br>
        <% end %>
       </div>
     </div>
    </div>
  </div>
</div>