/*======================================================*/
/*index*/
/*======================================================*/
.patient_list_contents {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.side {
  background-color: #FFFFFF;
  width: 300px;
}

.main {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
}

/*======================================================*/
/*side_bar*/
/*======================================================*/

.v_line_fix {
  width: 3px;
  background-color: #696969;
}

.side-bar-header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date {
  font-size: 20px;
}

.time {
  font-size: 20px;
}

.patient_list_room {
  background-color: #FFFFFF;
  height: calc(100vh - 100px);
}

.title-border {
  display: flex;
  align-items: center;
  background-color: #FFFFFF
}

.title-border:before,
.title-border:after {
  border-top: 3px solid #696969;
  content: "";
  flex-grow: 1;
}

.title-border:before {
  margin-right: 1rem;
}

.title-border:after {
  margin-left: 1rem;
}

label, input[type='checkbox'] {
  cursor: pointer;
}

.patient_list {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.checkup_content-submit {
  padding-top: 30px;
}

/*======================================================*/
/*main_bar*/
/*======================================================*/

.list_table {
  padding-top: 40px;
  padding-left: 60px;
}

table thead {
  background-color: #696969;
  color: #FFFFFF;
}

 
