/*======================================================*/
/*index*/
/*======================================================*/
.contents {
  padding-top: 150px;
  padding-bottom: 200px;
}

.title {
 padding-top: 15px;
 font-size: 25px;
 position: relative;
 display: flex;
 justify-content: center;
} 

.questions {
  padding: 50px 80px;
  font-size: 50px;
  display: flex;
  justify-content: space-around;
}

.post {
  display: inline-block;
  background-color: #26a69b;/*背景色*/
  color: #FFF;/*文字色*/
  font-size: 1em;/*文字サイズ*/
  line-height: 1;
  text-decoration: none;
  letter-spacing: 0.05em;/*字間*/
  padding: 0.5em 1em;/*ボタン内の余白*/
  border-radius: 5px;/*角の丸み*/
    cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  -webkit-tap-highlight-color: transparent;
  transition: .3s ease-out;/*変化を緩やかに*/
}

.post:hover{
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 5px 1px -1px rgba(0,0,0,0.2);
}

/*======================================================*/
/*create*/
/*======================================================*/

.create_contents{
  padding-top: 200px;
  padding-bottom: 200px;
  font-size: 25px;
}

.create_title {
  padding-left: 300px;
  position: relative;
  justify-content: center;
}

.comment-1 {
  padding-top: 30px;
  padding-left: 300px;
  justify-content: center;
}

.comment-2 {
   padding-top: 30px;
   padding-left: 300px;
   justify-content: center;
}

.top {
  font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
  text-align: center;
  padding-top: 40px;
}

